*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

#logo-nav{
    width: 166px;
}

#linkedin{
    color: #fff;
    font-weight: lighter;
    font-size: 22px;
}

header{
    background-color: #1c1c1c;
}

.rrss{
    padding-top: 13px;
    font-size: 1.5rem;
}

.right-navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.inner-width{
    position: fixed;
    width: 100%;
    height: 75px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-top: 16px;
    padding-right: 70px;
    padding-bottom: 16px;

    margin: auto;
    color: #f1f1f1;
    font-size: 0.7em;
    z-index: 6;
    
}

h1{
    font-weight: normal;
}


.menu-icon{
    padding: 0px 15px;
    width: 50px;
    height: 50px;
    background: #2c3a47;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 4;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;
    justify-self: center;
}

.menu-icon:hover{
    opacity: 0.9;
    transform: scale(1.1);
    background: #2c3a47;
}

.navigation-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1c1c1c; /* color de fondo del menu */
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    z-index: 3;
    overflow: hidden;
}

.navigation-menu nav{
    display: grid;
}

.navigation-menu li{
    margin: 20px 0;
    overflow: hidden; 
}

.navigation-menu a{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    transform: translateY(40px);
    
}

.navigation-menu a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 15px;
    background: #0b5354; /* efecto de subrayado */
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s linear;
}

.navigation-menu a:hover::before{
    width: 100%;
}


.menu-icon.active{
    background: #f1f1f1;
    color: #2c3a47;
}

.navigation-menu.active{
    right: 0;
}

.navigation-menu.active a{
    transform: translateY(0);
    transition: 0.6s linear;
}

.navigation-menu.active li:nth-child(1) a {
    transition-delay: 0.2s;
}

.navigation-menu.active li:nth-child(2) a {
    transition-delay: 0.4s;
}

.navigation-menu.active li:nth-child(3) a {
    transition-delay: 0.6s;
}

.navigation-menu.active li:nth-child(4) a {
    transition-delay: 0.8s;
}

.navigation-menu.active li:nth-child(5) a {
    transition-delay: 1s;
}

/* Navbar transparente animación */
.active-nav{
    background: #1c1c1c;
}


@media screen and (min-width:1260px){
    .inner-width{
        position: fixed;
        width: 100%;
        height: 89px;    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 70px;
        padding-top: 16px;
        padding-right: 70px;
        padding-bottom: 16px;
        margin: auto;
        color: #f1f1f1;
        font-size: 0.7em;
        z-index: 6;
    }
    #logo-nav{
        width: 200px;
    }

}

@media screen and (max-width:800px){
    .rrss{
        visibility: hidden;
    }
    .inner-width{
        position: fixed;
        width: 100%;
        height: 89px;    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 16px;
        margin: auto;
        color: #f1f1f1;
        font-size: 0.7em;
        z-index: 6;
    }
}

@media screen and (max-width:420px){
    .inner-width{
        position: fixed;
        width: 100%;
        height: 89px;    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 7px;
        padding-top: 16px;
        padding-right: 7px;
        padding-bottom: 16px;
        color: #f1f1f1;
        font-size: 0.7em;
        z-index: 6;
    }
    .right-navbar{
        display: grid;
        grid-gap: 0px;
    }
}
@media screen and (max-width:768px){
    .navigation-menu a{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        position: relative;
        display: inline-block;
        transform: translateY(40px);
    
    }
}
